<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.projektbd_samochodyConnectionString"
            connectionString="Data Source=projektbd-serwer.database.windows.net;Initial Catalog=projektbd_samochody;Persist Security Info=True;User ID=uzytkownik;Password=Haslo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>